<%= form_for(@costcode) do |f| %>
  <% if @costcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costcode.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @costcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
