<div id="title-bar">
  <div id="title-bar-left">
    <h2>Job# <span style="color: #8f0800;"><%= @job.job_num %></span> Selected Date: <span style="color: #8f0800;"><%= @date %></span> Job Start Date: <span style="color: #8f0800;"><%= @job.start_date %></span></h2>
  </div>
   <div id="title-bar-right">
     <%= link_to "Multi-Entry", multienter_job_path(day: @date) %>
  </div>
</div>

<div id="job-content">
  
  <%= render 'job_table' %>
  
  <div id="week_select"> 
    <%= render 'week_select' %>
  </div>

  <div id="add-entry">
    <h2>Add Time Entry</h2>
    <%= render 'entry_form' %>
  </div>
</div>


<div id="equip-content">
  <table id="job-table">
    <th>Equipment #</th>
    <th>Rental?</th>
    <th>Equipment Name</th>
    <% @job.costcodes.each do |costcode| %>
    <th><%= costcode.code %></th>
    <% end %>
    
    <% @job.equipments.each do |equipment| %>
      <% if equipment.equipment_entries.where(job_id: @job.id, date: @date).count > 0 %>
        <%= render 'equip_table_row', equipment: equipment %>
      <% end %>
    <% end %>
  </table>
  <div id="add-entry">
    <h2>Add Equipment Entry</h2>
    <%= render 'equip_entry_form' %>
  </div>
</div>
